{% extends 'base.html.twig' %}

{% import '::macros.html.twig' as game %}

{% block body %}
    <h2>
        <a href="{{ path('app_user_show', {'uuid': user1.uuid}) }}">{{ user1.username }}</a> vs.
        <a href="{{ path('app_user_show', {'uuid': user2.uuid}) }}">{{ user2.username }}</a>
    </h2>

    {{ game.list(wonGames, 'won') }}
    {{ game.list(lostGames, 'lost') }}
    {{ game.list(drawGames, 'draw') }}
    {{ game.list(unfinishedGames, 'unfinished') }}

    <div class="vs">
        <h3><a href="{{ path('app_user_show', {'uuid': user1.uuid}) }}">{{ user1.username }}</a> vs</h3>
        {{ game.vsListUser(user1, otherUsers1) }}

        <h3><a href="{{ path('app_user_show', {'uuid': user2.uuid}) }}">{{ user2.username }}</a> vs</h3>
        {{ game.vsListUser(user2, otherUsers2) }}
    </div>
{% endblock %}
