{% extends 'base.html.twig' %}

{% block id('leaderboard-show') %}
{% block title %}{{ 'leaderboard.show.title'|trans }}{% endblock %}

{% block content %}
    <table id="leaderboard">
        <thead>
        <tr>
            {% for state in ['player', 'games', 'won', 'lost', 'draw'] %}
                <th>
                    <a
                            href="{{ path(
                                'app_leaderboard_show',
                                {
                                    'sortBy': state,
                                    'sortAsc': (state != sortBy ? sortAsc : not sortAsc)})
                            }}"
                            class="{{ state == sortBy ? 'active' }} {{ sortAsc ? 'asc' : 'desc' }}"
                    >{{ ('leaderboard.show.table.head.'~state)|trans }}</a>
                </th>
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% for player in leaderboard %}
            <tr>
                <td>{{ player.player }}</td>
                <td>{{ player.games }}</td>
                <td>{{ player.won }}</td>
                <td>{{ player.lost }}</td>
                <td>{{ player.draw }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
