<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/milligram.css') }}">
        <link rel="stylesheet" href="{{ asset('css/chessboard.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>
    <nav class="language-select">
        <a href="{{ path('app_default_homepage', {'_locale': 'de'}) }}">de</a>
        <a href="{{ path('app_default_homepage', {'_locale': 'en'}) }}">en</a>
    </nav>
    <nav class="main">
        <a href="{{ path('app_import_pgn') }}">{{ 'nav.import_pgn'|trans }}</a>
        <a href="{{ path('app_game_list') }}">{{ 'nav.game_list'|trans }}</a>
        <a href="{{ path('app_import_listpgns') }}">{{ 'nav.import_list'|trans }}</a>
    </nav>
</header>
<main>
    {% block body %}{% endblock %}
</main>

{% block javascripts %}
    <script src="{{ asset('js/chess.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/chessboard.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
