{% macro list(games, label) %}
    <div class="game-list">
        <h2>{{ label|title }} ({{ games|length }})</h2>
        {% for game in games %}
            <a href="{{ path('app_game_show', {'uuid': game.uuid}) }}">
                <div class="game">
                    <h3>{{ game|gameTitle }}</h3>
                    {{ pgn(game, {
                        'show-moves': 'false',
                        'show-header': 'false',
                        'show-buttons': 'false'
                    }) }}
                </div>
            </a>
        {% else %}
            <p>No {{ label }} games</p>
        {% endfor %}
    </div>
{% endmacro %}


{% macro vsListPlayer(player, players) %}
    <ul class="vs-list">
        {% for vsPlayer in players %}
            <li>
                <a href="{{ path('app_player_versus', {'player1Uuid': player.uuid, 'player2Uuid': vsPlayer.uuid}) }}">
                    {{ vsPlayer.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro vsListUser(user, users) %}
    <ul class="vs-list">
        {% for vsUser in users %}
            <li>
                <a href="{{ path('app_user_versus', {'user1Uuid': user.uuid, 'user2Uuid': vsUser.uuid}) }}">
                    {{ vsUser.username }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endmacro %}
