<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>ChessDB {% block title %}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/milligram.css') }}">
        <link rel="stylesheet" href="{{ asset('css/chessboard.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<header>
    <nav class="language-select">
        <a href="{{ path('app_default_homepage', {'_locale': 'de'}) }}">de</a>
        <a href="{{ path('app_default_homepage', {'_locale': 'en'}) }}">en</a>
    </nav>
    <nav class="main">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('app_logout') }}">{{ 'nav.logout'|trans }}</a>
            <a href="{{ path('app_user_myprofile') }}">{{ 'nav.profile'|trans }}</a>
        {% else %}
            <a href="{{ path('app_user_login') }}">{{ 'nav.login'|trans }}</a>
        {% endif %}
        <a href="{{ path('app_import_pgn') }}">{{ 'nav.import_pgn'|trans }}</a>
        <a href="{{ path('app_dropbox_list') }}">{{ 'nav.import_dropbox'|trans }}</a>
        <a href="{{ path('app_import_list') }}">{{ 'nav.import_list'|trans }}</a>
        <a href="{{ path('app_game_list') }}">{{ 'nav.game_list'|trans }}</a>
        <a href="{{ path('app_user_list') }}">{{ 'nav.user_list'|trans }}</a>
    </nav>
</header>
<main id="{% block id %}main{% endblock %}">
    <h1>{% block headline %}{{ block('title') }}{% endblock %}</h1>
    {% block content %}{% endblock %}
</main>

{% block javascripts %}
    <script src="{{ asset('js/chess.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/chessboard.js') }}" type="text/javascript"></script>
{% endblock %}
</body>
</html>
