{% extends 'base.html.twig' %}

{% block body %}
    <table class="pure-table">
        <thead>
        <th>Player</th>
        <th>Won</th>
        <th>Lost</th>
        <th>Draw</th>
        <th>Unfinished</th>
        </thead>
        <tbody>
        {% for player in statistics %}
            <tr>
                <td><a href="{{ path('app_player_show', {'uuid': player.uuid}) }}">{{ player.name }}</a></td>
                <td>{{ player.won }}</td>
                <td>{{ player.lost }}</td>
                <td>{{ player.draw }}</td>
                <td>{{ player.unfinished }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}