{% extends 'base.html.twig' %}

{% import '::macros.html.twig' as game %}

{% block body %}
    <h2>
        <a href="{{ path('app_player_show', {'uuid': player1.uuid}) }}">{{ player1.name }}</a> vs.
        <a href="{{ path('app_player_show', {'uuid': player2.uuid}) }}">{{ player2.name }}</a>
    </h2>

    {{ game.list(wonGames, 'won') }}
    {{ game.list(lostGames, 'lost') }}
    {{ game.list(drawGames, 'draw') }}
    {{ game.list(unfinishedGames, 'unfinished') }}

    <div class="vs">
        <h3><a href="{{ path('app_player_show', {'uuid': player1.uuid}) }}">{{ player1.name }}</a> vs</h3>
        {{ game.vsListPlayer(player1, otherPlayers1) }}

        <h3><a href="{{ path('app_player_show', {'uuid': player2.uuid}) }}">{{ player2.name }}</a> vs</h3>
        {{ game.vsListPlayer(player2, otherPlayers2) }}
    </div>
{% endblock %}
