{% extends 'base.html.twig' %}

{% block id('admin-registrations') %}
{% block title %}{{ 'admin.registrations.title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    {% for form_row in form.inActive if not form_row.rendered %}
        <span>
            <label for="{{ form_row.vars.id }}_isEnabled">
                {{ form_row.vars.data.username }}
            </label>
            {{ form_widget(form_row.isEnabled) }}
            {{ form_errors(form_row.isEnabled) }}
        </span>
    {% endfor %}
    {% for form_row in form.active if not form_row.rendered %}
        <span>
            <label for="{{ form_row.vars.id }}_isEnabled">
                {{ form_row.vars.data.username }}
            </label>
            {{ form_widget(form_row.isEnabled) }}
            {{ form_errors(form_row.isEnabled) }}
        </span>
    {% endfor %}

    {{ form_rest(form) }}
    <button type="submit">{{ 'form.admin.label.submit'|trans }}</button>
    {{ form_end(form) }}
{#


    {{ form_start(inActiveForm) }}
    {{ form_row(inActiveForm._token) }}
    {% for form_row in inActiveForm.children if not form_row.rendered %}
        <span>
            <label for="{{ form_row.vars.id }}_isEnabled">
                {{ form_row.vars.data.username }}
            </label>
            {{ form_widget(form_row.isEnabled) }}
            {{ form_errors(form_row.isEnabled) }}
        </span>
    {% endfor %}

    <button type="submit">{{ 'form.admin.label.submit'|trans }}</button>
    {{ form_end(inActiveForm) }}

    {{ form_start(activeForm) }}
    {{ form_row(activeForm._token) }}
    {% for form_row in activeForm.children if not form_row.rendered %}
        <span>
            <label for="{{ form_row.vars.id }}_isEnabled">
                {{ form_row.vars.data.username }}
            </label>
            {{ form_widget(form_row.isEnabled) }}
            {{ form_errors(form_row.isEnabled) }}
        </span>
    {% endfor %}

    <button type="submit">{{ 'form.admin.label.submit'|trans }}</button>
    {{ form_end(activeForm) }}

#}
{% endblock %}
