{% extends 'baseListByResult.html.twig' %}

{% block id('player-versus') %}
{% block title %}{{ 'player.versus.title'|trans({'%name1%': player1.username, '%name2%': player2.username}) }}{% endblock %}
{% block headline %}
    <a href="{{ path('app_player_show', {'player': player1.username}) }}">{{ player1.username }}</a>
    -
    <a href="{{ path('app_player_show', {'player': player2.username}) }}">{{ player2.username }}</a>
{% endblock %}
