{% extends 'base.html.twig' %}

{% block id('login') %}
{% block title %}{{ 'user.login.title'|trans }}{% endblock %}

{% block content %}
    <section class="login">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <form action="{{ path('app_login_check') }}" method="post">
            <label for="username">{{ 'form.login.label.username'|trans }}:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>

            <label for="password">{{ 'form.login.label.password'|trans }}:</label>
            <input type="password" id="password" name="_password"/>

            <button type="submit">{{ 'form.login.label.submit'|trans }}</button>
        </form>
    </section>
{% endblock %}
