{% extends 'baseListByResult.html.twig' %}

{% block id('my-profile') %}
{% block title %}{{ 'user.profile.title'|trans }}{% endblock %}

{% block content %}
    {{ form_start(form) }}
    <fieldset>
        {{ form_rest(form) }}
        <button type="submit">{{ 'form.profile.label.submit'|trans }}</button>
    </fieldset>
    {{ form_end(form) }}

    {{ parent() }}
{% endblock %}
