{% extends 'base.html.twig' %}

{% block body %}
    <div class="game-show">
        <h2>
            <a href="{{ path('app_player_show', {'uuid': game.white.uuid}) }}">{{ game.white.name }}</a>
            vs.
            <a href="{{ path('app_player_show', {'uuid': game.black.uuid}) }}">{{ game.black.name }}</a></h2>

        {{ pgn(game, {
            'headers': 'Event,Site,Date,Result'
        }) }}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_game_edit', {'uuid': game.uuid}) }}">Edit</a>
        {% endif %}
    </div>
{% endblock %}
