{% extends 'base.html.twig' %}

{% block body %}
    <div id="importedGame"
         class="pgn"
         data-show-moves="false"
         data-show-header="false"
         data-label-next="&gt;&gt;"
         data-label-back="&lt;&lt;"
         data-label-reset="start"
    >{{ importedPgn.pgnString }}</div>

    {{ form_start(form) }}
    <fieldset>
        {{ form_rest(form) }}
        <button type="submit">{{ 'import.game.form.submit'|trans }}</button>
    </fieldset>
    {{ form_end(form) }}
{% endblock %}
