{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'import.already_imported.title'|trans }}{% endblock %}
{% block headline %}{{ 'import.already_imported.title'|trans }}{% endblock %}
{% block content %}
    <p>{{ 'import.already_imported.notice'|trans }}</>
    <a href="{{ path('app_game_show', {'uuid': game.uuid}) }}">{{ 'import.already_imported.link_to_game'|trans }}</a>
{% endblock %}
