{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} {{ 'import.pgn.title'|trans }}{% endblock %}
{% block headline %}{{ 'import.pgn.title'|trans }}{% endblock %}

{% block content %}
{{ form_start(form) }}
    <fieldset>
        {{ form_rest(form) }}
        <button type="submit">{{ 'import.pgn.form.submit'|trans }}</button>
    </fieldset>
{{ form_end(form) }}
{% endblock %}
